{{!-- Choose RGB channel --}}
<div class="form-group">
    <label for="algorithmChannel">Choose algorithm RGB channel:</label>
    <select id="algorithmChannel" class="form-control" rv-value="model:channel">
        <option disabled selected> -- select an option -- </option>
        {{#each channels}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</div>
{{!-- Enter seed  --}}
<div class="form-group">
    <label for="algorithmSeed">Enter seed:</label>
    <input type="text" id="algorithmSeed" class="form-control" rv-value="model:seed"/>
</div>
{{!-- Enter seed count  --}}
<div class="form-group">
    <label for="algorithmSeedCount">Enter seed count:</label>
    <input type="number" min="0" id="algorithmSeedCount" class="form-control" rv-value="model:seedCount"/>
</div>

